.text{
    color: aqua;
    font: caption;
    font-size: larger;
}


.background{
    background-image: url("https://github.com/Toastyy7/weldyMcWeldFace/blob/a71d7be546a47ed27ba1488057ea3c41992df303/welding%20portfolio/logo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
