.text{
    color: aqua;
    font: caption;
    font-size: larger;
}


.background{
    background-image: url("https://raw.githubusercontent.com/Toastyy7/weldyMcWeldFace/refs/heads/main/welding%20portfolio/logo.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
