.text{
    color: aqua;
    font: caption;
    font-size: larger;
}


.background{
    background-image: url("Toastyy7/weldyMcWeldFace/welding portfolio/logo.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
